USE [master]
GO
/****** Object:  Database [swp391_laptop]    Script Date: 12/5/2025 11:55:09 AM ******/
CREATE DATABASE [swp391_laptop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'swp391_laptop', FILENAME = N'D:\DOWLOAD\SWP\web_thue_laptop_new' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'swp391_laptop_log', FILENAME = N'D:\DOWLOAD\SWP\web_thue_laptop_new' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [swp391_laptop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [swp391_laptop]
GO
/****** Object:  Table [dbo].[BOOKING]    Script Date: 12/5/2025 11:55:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKING](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_ID] [bigint] NOT NULL,
	[LAPTOP_ID] [bigint] NOT NULL,
	[STAFF_ID] [bigint] NULL,
	[START_TIME] [datetime] NOT NULL,
	[END_TIME] [datetime] NOT NULL,
	[TOTAL_PRICE] [decimal](18, 2) NULL,
	[STATUS_ID] [bigint] NOT NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOKING_RECEIPT]    Script Date: 12/5/2025 11:55:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKING_RECEIPT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[BOOKING_ID] [bigint] NOT NULL,
	[CUSTOMER_ID] [bigint] NOT NULL,
	[STAFF_ID] [bigint] NOT NULL,
	[START_TIME] [datetime] NOT NULL,
	[END_TIME] [datetime] NOT NULL,
	[LATE_MINUTES] [int] NULL,
	[TOTAL_PRICE] [decimal](18, 2) NOT NULL,
	[LATE_FEE] [decimal](18, 2) NULL,
	[CREATED_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BRAND]    Script Date: 12/5/2025 11:55:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BRAND](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[BRAND_NAME] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[BRAND_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 12/5/2025 11:55:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_ID] [bigint] NULL,
	[FIRST_NAME] [nvarchar](255) NOT NULL,
	[LAST_NAME] [nvarchar](255) NOT NULL,
	[EMAIL] [nvarchar](255) NOT NULL,
	[PHONE] [nvarchar](20) NULL,
	[ID_NO] [nvarchar](20) NULL,
	[DOB] [datetime] NULL,
	[CREATED_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LAPTOP]    Script Date: 12/5/2025 11:55:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LAPTOP](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NOT NULL,
	[BRAND_ID] [bigint] NULL,
	[PRICE] [decimal](18, 2) NULL,
	[STATUS_ID] [bigint] NULL,
	[MANAGER_ID] [bigint] NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[STUDENT_ID] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LAPTOP_DETAIL]    Script Date: 12/5/2025 11:55:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LAPTOP_DETAIL](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[LAPTOP_ID] [bigint] NOT NULL,
	[GPU] [nvarchar](255) NULL,
	[RAM_SIZE] [nvarchar](50) NULL,
	[RAM_TYPE] [nvarchar](50) NULL,
	[STORAGE] [nvarchar](100) NULL,
	[SCREEN_SIZE] [nvarchar](50) NULL,
	[OS] [nvarchar](100) NULL,
	[CPU] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MANAGER]    Script Date: 12/5/2025 11:55:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MANAGER](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MANAGER_ID] [bigint] NULL,
	[FIRST_NAME] [nvarchar](255) NOT NULL,
	[LAST_NAME] [nvarchar](255) NOT NULL,
	[EMAIL] [nvarchar](255) NOT NULL,
	[PHONE] [nvarchar](20) NULL,
	[ID_NO] [nvarchar](20) NULL,
	[DOB] [datetime] NULL,
	[CREATED_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLE]    Script Date: 12/5/2025 11:55:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ROLE_NAME] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ROLE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFF]    Script Date: 12/5/2025 11:55:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[STAFF_ID] [bigint] NULL,
	[FIRST_NAME] [nvarchar](255) NOT NULL,
	[LAST_NAME] [nvarchar](255) NOT NULL,
	[EMAIL] [nvarchar](255) NOT NULL,
	[PHONE] [nvarchar](20) NULL,
	[ID_NO] [nvarchar](20) NULL,
	[DOB] [datetime] NULL,
	[CREATED_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATUS]    Script Date: 12/5/2025 11:55:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATUS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[STATUS_NAME] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[STATUS_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT]    Script Date: 12/5/2025 11:55:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[STUDENT_ID] [bigint] NULL,
	[FIRST_NAME] [nvarchar](255) NOT NULL,
	[LAST_NAME] [nvarchar](255) NOT NULL,
	[EMAIL] [nvarchar](255) NOT NULL,
	[PHONE] [nvarchar](20) NULL,
	[ID_NO] [nvarchar](20) NULL,
	[DOB] [datetime] NULL,
	[CREATED_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT_RENT_NOTIFICATION]    Script Date: 12/5/2025 11:55:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT_RENT_NOTIFICATION](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[STUDENT_ID] [bigint] NOT NULL,
	[MANAGER_ID] [bigint] NOT NULL,
	[BOOKING_ID] [bigint] NOT NULL,
	[TITLE] [nvarchar](255) NOT NULL,
	[MESSAGE] [nvarchar](max) NULL,
	[CREATED_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TECHNICAL]    Script Date: 12/5/2025 11:55:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TECHNICAL](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TECHNICAL_ID] [bigint] NULL,
	[FIRST_NAME] [nvarchar](255) NOT NULL,
	[LAST_NAME] [nvarchar](255) NOT NULL,
	[EMAIL] [nvarchar](255) NOT NULL,
	[PHONE] [nvarchar](20) NULL,
	[ID_NO] [nvarchar](20) NULL,
	[DOB] [datetime] NULL,
	[IS_WORKING] [bigint] NULL,
	[CREATED_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TECHNICAL_TICKET]    Script Date: 12/5/2025 11:55:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TECHNICAL_TICKET](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[LAPTOP_ID] [bigint] NOT NULL,
	[BOOKING_ID] [bigint] NULL,
	[STAFF_ID] [bigint] NOT NULL,
	[TECHNICAL_ID] [bigint] NULL,
	[DESCRIPTION] [nvarchar](max) NOT NULL,
	[TECHNICAL_RESPONSE] [nvarchar](max) NULL,
	[STATUS_ID] [bigint] NOT NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TICKET_LIST]    Script Date: 12/5/2025 11:55:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TICKET_LIST](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_ID] [bigint] NOT NULL,
	[STAFF_ID] [bigint] NOT NULL,
	[LAPTOP_ID] [bigint] NOT NULL,
	[TECHNICAL_TICKET_ID] [bigint] NOT NULL,
	[FIXED_COST] [decimal](18, 2) NOT NULL,
	[DESCRIPTION] [nvarchar](max) NOT NULL,
	[CUSTOMER_RESPONSE] [nvarchar](50) NULL,
	[STATUS_ID] [bigint] NOT NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 12/5/2025 11:55:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ROLE_ID] [bigint] NULL,
	[STATUS_ID] [bigint] NULL,
	[EMAIL] [nvarchar](255) NOT NULL,
	[PASSWORD_HASH] [nvarchar](255) NOT NULL,
	[CREATED_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BOOKING] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[BOOKING_RECEIPT] ADD  DEFAULT ((0)) FOR [LATE_MINUTES]
GO
ALTER TABLE [dbo].[BOOKING_RECEIPT] ADD  DEFAULT ((0)) FOR [LATE_FEE]
GO
ALTER TABLE [dbo].[BOOKING_RECEIPT] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[CUSTOMER] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[LAPTOP] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[MANAGER] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[STAFF] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[STUDENT] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[STUDENT_RENT_NOTIFICATION] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[TECHNICAL] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[TECHNICAL_TICKET] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[TICKET_LIST] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[USER] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD  CONSTRAINT [FK_BOOKING_CUSTOMER] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[CUSTOMER] ([ID])
GO
ALTER TABLE [dbo].[BOOKING] CHECK CONSTRAINT [FK_BOOKING_CUSTOMER]
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD  CONSTRAINT [FK_BOOKING_LAPTOP] FOREIGN KEY([LAPTOP_ID])
REFERENCES [dbo].[LAPTOP] ([ID])
GO
ALTER TABLE [dbo].[BOOKING] CHECK CONSTRAINT [FK_BOOKING_LAPTOP]
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD  CONSTRAINT [FK_BOOKING_STAFF] FOREIGN KEY([STAFF_ID])
REFERENCES [dbo].[STAFF] ([ID])
GO
ALTER TABLE [dbo].[BOOKING] CHECK CONSTRAINT [FK_BOOKING_STAFF]
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD  CONSTRAINT [FK_BOOKING_STATUS] FOREIGN KEY([STATUS_ID])
REFERENCES [dbo].[STATUS] ([ID])
GO
ALTER TABLE [dbo].[BOOKING] CHECK CONSTRAINT [FK_BOOKING_STATUS]
GO
ALTER TABLE [dbo].[BOOKING_RECEIPT]  WITH CHECK ADD  CONSTRAINT [FK_RECEIPT_BOOKING] FOREIGN KEY([BOOKING_ID])
REFERENCES [dbo].[BOOKING] ([ID])
GO
ALTER TABLE [dbo].[BOOKING_RECEIPT] CHECK CONSTRAINT [FK_RECEIPT_BOOKING]
GO
ALTER TABLE [dbo].[BOOKING_RECEIPT]  WITH CHECK ADD  CONSTRAINT [FK_RECEIPT_CUSTOMER] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[CUSTOMER] ([ID])
GO
ALTER TABLE [dbo].[BOOKING_RECEIPT] CHECK CONSTRAINT [FK_RECEIPT_CUSTOMER]
GO
ALTER TABLE [dbo].[BOOKING_RECEIPT]  WITH CHECK ADD  CONSTRAINT [FK_RECEIPT_STAFF] FOREIGN KEY([STAFF_ID])
REFERENCES [dbo].[STAFF] ([ID])
GO
ALTER TABLE [dbo].[BOOKING_RECEIPT] CHECK CONSTRAINT [FK_RECEIPT_STAFF]
GO
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD  CONSTRAINT [FK_CUSTOMER_USER] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[USER] ([ID])
GO
ALTER TABLE [dbo].[CUSTOMER] CHECK CONSTRAINT [FK_CUSTOMER_USER]
GO
ALTER TABLE [dbo].[LAPTOP]  WITH CHECK ADD  CONSTRAINT [FK_LAPTOP_BRAND] FOREIGN KEY([BRAND_ID])
REFERENCES [dbo].[BRAND] ([ID])
GO
ALTER TABLE [dbo].[LAPTOP] CHECK CONSTRAINT [FK_LAPTOP_BRAND]
GO
ALTER TABLE [dbo].[LAPTOP]  WITH CHECK ADD  CONSTRAINT [FK_LAPTOP_MANAGER] FOREIGN KEY([MANAGER_ID])
REFERENCES [dbo].[MANAGER] ([ID])
GO
ALTER TABLE [dbo].[LAPTOP] CHECK CONSTRAINT [FK_LAPTOP_MANAGER]
GO
ALTER TABLE [dbo].[LAPTOP]  WITH CHECK ADD  CONSTRAINT [FK_LAPTOP_STATUS] FOREIGN KEY([STATUS_ID])
REFERENCES [dbo].[STATUS] ([ID])
GO
ALTER TABLE [dbo].[LAPTOP] CHECK CONSTRAINT [FK_LAPTOP_STATUS]
GO
ALTER TABLE [dbo].[LAPTOP]  WITH CHECK ADD  CONSTRAINT [FK_LAPTOP_STUDENT] FOREIGN KEY([STUDENT_ID])
REFERENCES [dbo].[STUDENT] ([ID])
GO
ALTER TABLE [dbo].[LAPTOP] CHECK CONSTRAINT [FK_LAPTOP_STUDENT]
GO
ALTER TABLE [dbo].[LAPTOP_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_LAPTOP_DETAIL_LAPTOP] FOREIGN KEY([LAPTOP_ID])
REFERENCES [dbo].[LAPTOP] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LAPTOP_DETAIL] CHECK CONSTRAINT [FK_LAPTOP_DETAIL_LAPTOP]
GO
ALTER TABLE [dbo].[MANAGER]  WITH CHECK ADD  CONSTRAINT [FK_MANAGER_USER] FOREIGN KEY([MANAGER_ID])
REFERENCES [dbo].[USER] ([ID])
GO
ALTER TABLE [dbo].[MANAGER] CHECK CONSTRAINT [FK_MANAGER_USER]
GO
ALTER TABLE [dbo].[STAFF]  WITH CHECK ADD  CONSTRAINT [FK_STAFF_USER] FOREIGN KEY([STAFF_ID])
REFERENCES [dbo].[USER] ([ID])
GO
ALTER TABLE [dbo].[STAFF] CHECK CONSTRAINT [FK_STAFF_USER]
GO
ALTER TABLE [dbo].[STUDENT]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_USER] FOREIGN KEY([STUDENT_ID])
REFERENCES [dbo].[USER] ([ID])
GO
ALTER TABLE [dbo].[STUDENT] CHECK CONSTRAINT [FK_STUDENT_USER]
GO
ALTER TABLE [dbo].[STUDENT_RENT_NOTIFICATION]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_NOTIFICATION_BOOKING] FOREIGN KEY([BOOKING_ID])
REFERENCES [dbo].[BOOKING] ([ID])
GO
ALTER TABLE [dbo].[STUDENT_RENT_NOTIFICATION] CHECK CONSTRAINT [FK_STUDENT_NOTIFICATION_BOOKING]
GO
ALTER TABLE [dbo].[STUDENT_RENT_NOTIFICATION]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_NOTIFICATION_MANAGER] FOREIGN KEY([MANAGER_ID])
REFERENCES [dbo].[MANAGER] ([ID])
GO
ALTER TABLE [dbo].[STUDENT_RENT_NOTIFICATION] CHECK CONSTRAINT [FK_STUDENT_NOTIFICATION_MANAGER]
GO
ALTER TABLE [dbo].[STUDENT_RENT_NOTIFICATION]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_NOTIFICATION_STUDENT] FOREIGN KEY([STUDENT_ID])
REFERENCES [dbo].[STUDENT] ([ID])
GO
ALTER TABLE [dbo].[STUDENT_RENT_NOTIFICATION] CHECK CONSTRAINT [FK_STUDENT_NOTIFICATION_STUDENT]
GO
ALTER TABLE [dbo].[TECHNICAL]  WITH CHECK ADD  CONSTRAINT [FK_TECHINICAL_USER] FOREIGN KEY([TECHNICAL_ID])
REFERENCES [dbo].[USER] ([ID])
GO
ALTER TABLE [dbo].[TECHNICAL] CHECK CONSTRAINT [FK_TECHINICAL_USER]
GO
ALTER TABLE [dbo].[TECHNICAL]  WITH CHECK ADD  CONSTRAINT [FK_TECHNICAL_STATUS] FOREIGN KEY([IS_WORKING])
REFERENCES [dbo].[STATUS] ([ID])
GO
ALTER TABLE [dbo].[TECHNICAL] CHECK CONSTRAINT [FK_TECHNICAL_STATUS]
GO
ALTER TABLE [dbo].[TECHNICAL_TICKET]  WITH CHECK ADD  CONSTRAINT [FK_TT_BOOKING] FOREIGN KEY([BOOKING_ID])
REFERENCES [dbo].[BOOKING] ([ID])
GO
ALTER TABLE [dbo].[TECHNICAL_TICKET] CHECK CONSTRAINT [FK_TT_BOOKING]
GO
ALTER TABLE [dbo].[TECHNICAL_TICKET]  WITH CHECK ADD  CONSTRAINT [FK_TT_LAPTOP] FOREIGN KEY([LAPTOP_ID])
REFERENCES [dbo].[LAPTOP] ([ID])
GO
ALTER TABLE [dbo].[TECHNICAL_TICKET] CHECK CONSTRAINT [FK_TT_LAPTOP]
GO
ALTER TABLE [dbo].[TECHNICAL_TICKET]  WITH CHECK ADD  CONSTRAINT [FK_TT_STAFF] FOREIGN KEY([STAFF_ID])
REFERENCES [dbo].[STAFF] ([ID])
GO
ALTER TABLE [dbo].[TECHNICAL_TICKET] CHECK CONSTRAINT [FK_TT_STAFF]
GO
ALTER TABLE [dbo].[TECHNICAL_TICKET]  WITH CHECK ADD  CONSTRAINT [FK_TT_STATUS] FOREIGN KEY([STATUS_ID])
REFERENCES [dbo].[STATUS] ([ID])
GO
ALTER TABLE [dbo].[TECHNICAL_TICKET] CHECK CONSTRAINT [FK_TT_STATUS]
GO
ALTER TABLE [dbo].[TECHNICAL_TICKET]  WITH CHECK ADD  CONSTRAINT [FK_TT_TECH] FOREIGN KEY([TECHNICAL_ID])
REFERENCES [dbo].[TECHNICAL] ([ID])
GO
ALTER TABLE [dbo].[TECHNICAL_TICKET] CHECK CONSTRAINT [FK_TT_TECH]
GO
ALTER TABLE [dbo].[TICKET_LIST]  WITH CHECK ADD  CONSTRAINT [FK_TL_CUSTOMER] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[CUSTOMER] ([ID])
GO
ALTER TABLE [dbo].[TICKET_LIST] CHECK CONSTRAINT [FK_TL_CUSTOMER]
GO
ALTER TABLE [dbo].[TICKET_LIST]  WITH CHECK ADD  CONSTRAINT [FK_TL_LAPTOP] FOREIGN KEY([LAPTOP_ID])
REFERENCES [dbo].[LAPTOP] ([ID])
GO
ALTER TABLE [dbo].[TICKET_LIST] CHECK CONSTRAINT [FK_TL_LAPTOP]
GO
ALTER TABLE [dbo].[TICKET_LIST]  WITH CHECK ADD  CONSTRAINT [FK_TL_STAFF] FOREIGN KEY([STAFF_ID])
REFERENCES [dbo].[STAFF] ([ID])
GO
ALTER TABLE [dbo].[TICKET_LIST] CHECK CONSTRAINT [FK_TL_STAFF]
GO
ALTER TABLE [dbo].[TICKET_LIST]  WITH CHECK ADD  CONSTRAINT [FK_TL_STATUS] FOREIGN KEY([STATUS_ID])
REFERENCES [dbo].[STATUS] ([ID])
GO
ALTER TABLE [dbo].[TICKET_LIST] CHECK CONSTRAINT [FK_TL_STATUS]
GO
ALTER TABLE [dbo].[TICKET_LIST]  WITH CHECK ADD  CONSTRAINT [FK_TL_TECH_TKT] FOREIGN KEY([TECHNICAL_TICKET_ID])
REFERENCES [dbo].[TECHNICAL_TICKET] ([ID])
GO
ALTER TABLE [dbo].[TICKET_LIST] CHECK CONSTRAINT [FK_TL_TECH_TKT]
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD  CONSTRAINT [FK_USER_ROLE] FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[ROLE] ([ID])
GO
ALTER TABLE [dbo].[USER] CHECK CONSTRAINT [FK_USER_ROLE]
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD  CONSTRAINT [FK_USER_STATUS] FOREIGN KEY([STATUS_ID])
REFERENCES [dbo].[STATUS] ([ID])
GO
ALTER TABLE [dbo].[USER] CHECK CONSTRAINT [FK_USER_STATUS]
GO
USE [master]
GO
